VITE_API_URL=https://sonicverse-kkm4.onrender.com
VITE_SUPABASE_URL=postgresql://postgres:IMDMLACN@db.vdkbnfuwfwycqeqlsnkb.supabase.co:5432/postgres
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZka2JuZnV3Znd5Y3FlcWxzbmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NjQ2NzAsImV4cCI6MjA5MjM0MDY3MH0.xDtYbVetkaNjYmQy1rHrdvsk6YVKO9xR8ZoqnIfrVTs
