PORT=5000
# Supabase Database URL (Transaction Pooler)
DATABASE_URL=
# Local Database URL
LOCAL_DATABASE_URL=postgres://postgres:postgres@localhost:5432/zynk
JWT_SECRET=
NODE_ENV=development

# Supabase Service Role (Optional, for backend admin tasks)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
